.App {
  /*display: flex;*/
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

.App-header {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content:center;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  background-color: rgb(125, 47, 186);
  opacity: .25;
  height: 100px;
  padding: 50px;
  color: white;
  font-family: "Academy Engraved LET Plain";
  font-size: 25px;
}

/*
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
